node_modules
**/.env
**/.env.*
!**/.env.example

coverage
coverage.json
typechain
typechain-types

.cloud/
.gitignore
.git
logs
.env.production
.env.testing
.env.staging
.env.review
.env-sample
docker-compose.yml
local/https
https/

*.out

bin/
.idea
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pem 
